[submodule "firmware/Arduino-Makefile"]
	path = firmware/Arduino-Makefile
	url = git@github.com:sudar/Arduino-Makefile.git
[submodule "firmware/mark_iv/lib/Adafruit_GFX"]
	path = firmware/mark_iv/lib/Adafruit_GFX
	url = git@github.com:adafruit/Adafruit-GFX-Library.git
[submodule "firmware/mark_iv/lib/EnableInterrupt"]
	path = firmware/mark_iv/lib/EnableInterrupt
	url = git@github.com:GreyGnome/EnableInterrupt.git
[submodule "firmware/mark_iv/lib/Adafruit_SSD1306"]
	path = firmware/mark_iv/lib/Adafruit_SSD1306
	url = git@github.com:schizobovine/Adafruit_SSD1306.git
[submodule "firmware/mark_iv/lib/Bounce2"]
	path = firmware/mark_iv/lib/Bounce2
	url = git@github.com:schizobovine/Bounce2.git
[submodule "firmware/battery_tester/lib/Adafruit_SSD1306"]
	path = firmware/battery_tester/lib/Adafruit_SSD1306
	url = git@github.com:schizobovine/Adafruit_SSD1306.git
	branch = 32
